.sidebar__introduction-profileimage {
    width: 270px;
    height: 370px;
}

.theme--light .post__content a:hover {
    color: #6086b4;
}


#hello-there-im-julia + p img {
    display: block;
    width: 50%;
    margin-right: 100%;
}
